* {

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: extra-condensed;
}


body {
    background-image: url('../image/5594016.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

header {
    width: 100%;
    height: 350px;
}

.image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
}


.imagelogo img {
    box-sizing:inherit;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    height: 150px;
}

.text h1 {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20px;
}

.conteiner h1 {
    text-align: left;
    margin-left: 20px;
}

h3 {
    text-align: center;
    position: relative;
}

p {
    text-align: justify;
}

#information {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}

.text, .imagelogo {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.conteiner {
    float: left;
    margin-left: 100px;
    padding: 20px;
}


.about {
    float: left;
    margin-left: 300px;
    margin-right: 70px;
    padding: 20px;
}


.conteiner, .about {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

#vacancy {
    display: grid;

}

#vacancy1 {
    margin: 70px;
    padding: 50px;
    border-style: ridge;
    box-shadow: 10px 5px 5px rgb(134, 134, 134);
}

span {
    margin-left: 20px;
}

#contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.maps {
    margin-left: 70px;
}

.sv p {
    margin-top: 20px;
}

footer {
    background-color: whitesmoke;
    height: 100px;
}

@media screen and (max-width:990px) {
    .vacancy-list {display: none;}
    #information {width: 100%;}
    div.conteiner {width: 20%; margin-left: 10px}
    div.about {margin-left: 220px; height: auto;}
    .text h1 {margin-left: 40px; font-weight: bold; margin-top: 50px;}
    .imagelogo img {margin-left: -200px; width: 250px; margin-top: -10px;}
    article.blog-post {width: 900px; margin-left: -200px;}
    #vacancy {width: 990px;}
    #vacancy1 {margin-left: 50px; margin-right: 20px;}
    div.maps {margin-left: 20px; float: left;}
    iframe {width: 400px; height: 300px;}
    div.sv {width: 300px; margin-left: 500px;}
    div.image img {position: absolute; left: 0; top: 0; width: 120%; height: 300px;}
}


@media screen and (max-width:740px) {
    .vacancy-list {display: none;}
    #information {width: auto;}
    div.conteiner {width: 20%; margin-left: 10px}
    div.about {width: 100%; margin-left: 300px; margin-right: 50px; height: auto;}
    .text h1 {margin-left: 40px; font-weight: bold; margin-top: 50px;}
    .imagelogo img {margin-left: -200px; width: 250px; margin-top: -10px;}
    #contacts {display: block;}
    article.blog-post {width: 640px; margin-left: -290px;}
    #vacancy {width: 700px; display: block;}
    #vacancy1 {width: 95%; margin-left: 5%;}
    div.maps {margin-left:7%; float: left;}
    iframe {width: 400px; height: 300px;}
    div.sv {width: 250px; margin-left: 500px;}
    div.image img {position: absolute; left: 0; top: 0; width: 200%; height: 300px;}
}


@media screen and (max-width:320px) {
    .vacancy-list {display: none;}
    #information {width: 100%; }
    div.conteiner {width: 20%; margin-left: 20px}
    div.about {margin-left: 250px; height: auto;}
    .text h1 {margin-left: 40px; font-weight: bold; margin-top: 50px;}
    .imagelogo img {margin-left: -200px; width: 250px; margin-top: -10px;}
    #contacts {display: block;}
    article.blog-post {width: 580px; margin-left: -180px;}
    #vacancy {width: 700px; display: block;}
    #vacancy1 {margin-left: 30px; margin-right: 20px;}
    div.maps {margin-left: 20px; float: left;}
    iframe {width: 400px; height: 300px;}
    div.sv {width: 300px; margin-left: 500px;}
    div.image img {position: absolute; left: 0; top: 0; width: 280%; height: 300px;}
}

