{% extends 'site_vacancy/base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block authorization %}
{% endblock %}

{% block button %}
{% endblock %}

{% block vacancy_list %}
{% endblock %}

{% block login %}
<div id="vacancy1">
    <div class="card-header py-3">
        <h1>Вход на сайт</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
    </div>
</div>

{% endblock %}

{% block info %}
{% endblock %}