<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles\style.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>

    <div class="image">
      <img src= "{% static 'image/TLog.jpg' %}" alt="Картинка">
    </div>
  </header>
  <main>
    {% block vacancy_list %}
    <div id="information">
      <div class="conteiner">
        <div class="vacancy-list">
          <a href="/create"><button class="btn btn-primary" type="submit">Добавить вакансию</button></a>
          <div class="card-header py-3">
            <h1 class="name-vacancy">{{text_vacancy}}</h1>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mb-0">
              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/page_vacancy">
                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                Кладовщик
              </a></li>
              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/page_vacancy">
                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                Машинист экскаватора
              </a></li>
              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/page_vacancy">
                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                Машинист автогрейдера
              </a></li>
              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/page_vacancy">
                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                Машинист грунтового катка
              </a></li>
              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/page_vacancy">
                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                Водитель самосвала
              </a></li>
              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/page_vacancy">
                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                Машинист бульдозера
              </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="about">
        <div class="article">
          <div class="imagelogo">
            <img src="{% static 'image/Лого3.png' %}" alt="Логотип">
          </div>
          <div class="text">
            <h1 class="about-us">О нас</h1>
          </div>
        </div>
        <article class="blog-post">
          <p>{{text_about}}</p>
          <hr>
      </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block vacancy %}
    {% endblock %}

    {% block info %}
    <div id="contacts">
      <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.0784426406976!2d84.91673474574539!3d56.5673300675119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x432696b700e9339d%3A0x13d4ad77d33ea6fd!2z0J_RgNC40YfQsNC70YzQvdCw0Y8g0YPQuy4sIDIyLCDQotC-0LzRgdC6LCDQotC-0LzRgdC60LDRjyDQvtCx0LsuLCA2MzYwMTM!5e0!3m2!1sru!2sru!4v1666804724324!5m2!1sru!2sru" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="sv">
        <h2>График работы:</h2>
        <p>
          Будние дни 08:00 - 17:00<br>
          Обед 12:00 - 13:00<br>
          Сб, Вс - выходной
        </p>
        <h2>Контакты:</h2>
        <p>Телефон</p>
        <a href="tel:+73822283230">+7 (3822) 28-32-30</a>
        <p>Email</p>
        <a href="mailto:Priem@tl70.ru?subject=Отклик на вакансию&body=Здравствуйте! Прошу Вас рассмотреть мое резюме.">Priem@tl70.ru</a>
      </div>
    </div>
    {% endblock %}
  </main>
</body>
</html>