{% extends 'site_vacancy/base.html' %}

{% block authorization %}
{% endblock %}

{% block button %}
{% endblock %}

{% block vacancy_list %}
{% endblock %}

{% block title %}Добавление/редактирование вакансии{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма для добавления/редактирования вакансии</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.position }}<br>
            {{ form.salary }}<br>
            {{ form.work_schedule }}<br>
            {{ form.responsibilities }}<br>
            {{ form.requirements }}<br>
            {{ form.working_conditions }}<br>
            <button class="btn btn-success" type="submit">Готово</button>
        </form>
    </div>

{% endblock %}

{% block info %}
{% endblock %}