{% extends 'site_vacancy/base.html' %}

{% load static %}

{% block title %}Вакансии{% endblock %}

{% block button %}
{% endblock %}

{% block vacancy_list %}
{% endblock %}

{% block vacancy %}
{% block nav %}
   <a class="nav-link active" aria-current="page" href="/">Вернуться<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
      </svg>
   </a>
{% endblock %}
{% for vacancy in vacancies %}
    <div id="vacancy">
      <div id="vacancy1">
        <div class="card-header py-3">
          <h3 class="my-0 fw-normal">{{ vacancy.position }}
            <img src="https://img.icons8.com/bubbles/50/000000/dump-truck.png"/>
          </h3>
        </div>
        <div class="card-body">
          <p>{{ vacancy.salary }}</p>
          <p>График: {{ vacancy.work_schedule }}</p>
          <ul class="list-unstyled mb-0">
            <li><p>Обязанности:</p>
              <span class="d-inline-block bg-primary rounded-circle p-1"></span> {{ vacancy.responsibilities }} <br>
            </li>
            <li><p>Требования:</p>
              <span class="d-inline-block bg-primary rounded-circle p-1"></span> {{ vacancy.requirements }}<br>
            </li>
            <li><p>Условия:</p>
              <span class="d-inline-block bg-primary rounded-circle p-1"></span> {{ vacancy.working_conditions }} <br>
            </li>
            </a></li>
          </ul>
        </div>
        {% if request.user.is_authenticated and not request.user.is_staff %}
        <a href="mailto:Priem@tl70.ru?subject=Отклик на вакансию&body=Здравствуйте!
        Прошу Вас рассмотреть мое резюме на вакансию {{ vacancy.position }}." class="btn btn-warning">Откликнуться</a>
        {% endif %}
        {% if request.user.is_staff %}
          <a href="/{{ vacancy.id }}\update" class="btn btn-warning">Редактировать</a>
          <a href="/{{ vacancy.id }}\delete" class="btn btn-danger">Удалить</a>
        {% endif %}
      </div>
    </div>

{% endfor %}

{% endblock %}

