{% extends 'site_vacancy/base.html' %}

{% block vacancy_list %}

{% endblock %}


{% block vacancy %}

{% for vacancy in vacancies %}
    <div id="vacancy">
      <div id="vacancy1">
        <div class="card-header py-3">
          <h3 class="my-0 fw-normal">{{ vacancy.position }}
            <img src="https://img.icons8.com/bubbles/50/000000/dump-truck.png"/>
          </h3>
        </div>
        <div class="card-body">
          <p>{{ vacancy.salary }}</p>
          <p>График: {{ vacancy.work_schedule }}</p>
          <ul class="list-unstyled mb-0">
            <li><p>Обязанности:</p>
              <span class="d-inline-block bg-primary rounded-circle p-1"></span> {{ vacancy.responsibilities }} <br>
            </li>
            <li><p>Требования:</p>
              <span class="d-inline-block bg-primary rounded-circle p-1"></span> {{ vacancy.requirements }}<br>
            </li>
            <li><p>Условия:</p>
              <span class="d-inline-block bg-primary rounded-circle p-1"></span> {{ vacancy.working_conditions }} <br>

            </li>
            </a></li>
          </ul>
        </div>
      </div>
    </div>

{% endfor %}

{% endblock %}

