{% extends 'site_vacancy/base.html' %}

{% block authorization %}
{% endblock %}

{% block button %}
{% endblock %}

{% block vacancy_list %}
{% endblock %}

{% block title %}Удаление вакансии{% endblock %}

{% block content %}
    <div id="vacancy1">
        <h1>Удаление вакансии</h1>
        <form method="post">
            {% csrf_token %}
            <h1>{{ vac.position }}</h1>
            <p>{{ vac.salary }}</p>
            <p>{{ vac.work_schedule }}</p>
            <p>{{ vac.responsibilities }}</p>
            <p>{{ vac.requirements }}</p>
            <p>{{ vac.working_conditions }}</p>
            <button class="btn btn-danger" type="submit">Удалить вакансию</button>
        </form>
    </div>

{% endblock %}

{% block info %}
{% endblock %}